<div class="section-container">
    <div class="row-fluid cards">
        <div class="card-deck">
            <div class="card mb-3 shadow card-theme">
                <div class="card-header card-header-theme">
                    <h5>Órdenes diarias</h5>
                </div>
                <div class="card-body">
                    <app-bar-chart></app-bar-chart>
                </div>
            </div>
            <div class="card mb-3 shadow card-theme">
                <div class="card-header card-header-theme">
                    <h5>Órdenes internas empleados</h5>
                </div>
                <div class="card-body">
                    <app-pie-chart></app-pie-chart>
                </div>
            </div>
            <div class="card mb-3 shadow card-theme">
                <div class="card-header card-header-theme">
                    <h5>Órdenes externas proveedores</h5>
                </div>
                <div class="card-body">
                    <app-pie-chart></app-pie-chart>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row-fluid cards">
        <div class="card shadow card-theme card-bottom">
            <div class="card-header card-header theme">
                <h5>Ventas mensuales</h5>
            </div>
            <div class="card-body">
                <app-line-chart></app-line-chart>
            </div>
        </div>
    </div>
</div>
