#sideBar{
    height: 100vh;
    padding-top: 80px;
    position: fixed;
    background-color: #191F26!important;
}

#dashboard{
    margin-top: 60px;
}

#navBar{
    background-color: #161A1E!important; 
    box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.25);
}