.block-status{
    width: 200px;
    height: 200px;
    font-size:  1.2em;
    color: #000;
    text-align: center;
    padding: 0 20px;
    margin: 20px;
}

.name{
    padding: 5px;
    font-size: 0.9em;
    display: block;
    font-family: monospace;
    transition: 0.3;
}

.status{
    display: block;
    transition: 0.3;
    font-size: 1.2em;
    text-align: center;
}

.actionEstado{
    display: block;
    font-size: 0.7em;
    margin-top: 12px;
    transition: 0.3;
}