<!-- creo cada servidor (4) como una card -->
<div class="card mb-3 shadow block-status" [ngStyle]="{'background-color': color}"> <!-- Seteando el color que mandamos por server-component.ts -->
    <div class="card-header name">
        {{serverInput.name}}
    </div>
    <div class="card-body status" [ngStyle]="{'background-color': color}">
        {{serverInput.isOnline}}
    </div>
    <button (click)="cambiarEstado(serverInput.isOnline)" class="btn btn-default actionEstado">{{btnText}}</button>
</div>