<div class="section-container">
    <h3>
        Ultimas órdenes
    </h3>
    <!--
    <table class="table table-inverse table-hover">
        <thead class="thead-dark">
           
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Cantidad</th>
                <th>Pedido realizado</th>
                <th>Pedidos completados</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
                      <tr *ngFor="let order of orders">
                <td>{{ order.id }}</td>
                <td>{{ order.customer.name}}</td>
                <td>{{ order.total }}</td>
                <td>{{ order.placed | date: 'short' }}</td>            
                <td>{{ order.fulfilled | date: 'short' }}</td>
                <td class="dot"><span>100 %</span></td>

            </tr>
        </tbody>
    </table>-->
    <app-paginacion 
    (goPage)="goToPage($event)"
    (goPrev)="goToPrevious()"
    (goNext)="goToNext()"
    [page]="page"
    [perPage]="limit"
    [count]="total">
</app-paginacion> 
</div>