<div class="section-container">
    <h3>System Status</h3>
    <div class="card-deck servers">
        <div *ngFor="let server of servers">                <!-- datos extraidos de section-health.component.ts-->
            <app-server [serverInput]="server"></app-server>     <!-- para que podamos pasarle datos a los servers-->
        </div>
    </div>
</div>


<!-- Una vez realizado esto
            ng g c server (CLI)
-->
