<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a routerLink="/sales" class="nav-link">Volúmen de ventas</a>
    </li>
   <li class="nav-item">
        <a routerLink="/orders" class="nav-link">Últimas órdenes</a>
    </li>
    <li class="nav-item">
        <a routerLink="/health" class="nav-link">Estado de sistemas</a>
    </li>
</ul>

<!-- ejmplo 
<ul>
    <li *ngFor link in links>
        <a routerLink="[link.routeValue]">{{link.Name}}</a>
    </li>
</ul>
-->