.logo{
    color: #fff;
    font-family: bold;
    font-size: 1.4em;
}

.logo-left{
    background-color: #ff6b6b;
    padding: 3px 0px 2px 5px;
    border-radius: 4px;
}

.logo-right{
    padding: 3px 4px 3px 3px;
    margin-left: -3px;
    border-radius: 4px;
}